appdirs==1.4.2
colorama==0.3.7
configparser==3.5.0
crayons==0.1.2
funcsigs==1.0.2
json2html==1.0.1
mock==2.0.0
packaging==16.8
pbr==2.0.0
Pillow==3.3.0
PyMySQL==0.7.2
pyparsing==2.1.10
pypiwin32==219
requests==2.10.0
selenium==2.53.6
six==1.10.0
suds==0.4
testlib==0.6.5
webdriver-manager==1.4.5
